﻿@model IEnumerable<Project.Models.user>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@if (ViewBag.Error != "")
{
    <h1>@ViewBag.Error</h1>

}
    <h1>@ViewBag.Sucess</h1>
    <h1>@ViewBag.Error</h1>
<a href="@Url.Action("About")"; class="btn btn-success">Export File Excel</a>
<a href="@Url.Action("SendMail")" ; class="btn btn-success">Send Mail</a>
<div class="row">
    <table class="table" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Ten</th>
                <th>Tuoi</th>
                <th>Di Chi</th>
            </tr>
        </thead>
            
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @(item.ID)
            </td>
            <td>
                @(item.TEN)
            </td>
            <td>
                @(item.TUOI)
            </td>
            <td>
                @(item.NOISINH)
            </td>
        </tr>
        }
    </table>
</div>
